adium-theme-ubuntu==0.3.4
backports.functools-lru-cache==1.6.1
cycler==0.10.0
decorator==4.4.2
kiwisolver==1.1.0
matplotlib==2.2.5
networkx==2.2
numpy==1.16.6
Pmw==1.3.2
pygcn==0.1
pymol==1.7.2.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.17
scipy==1.10.0
six==1.14.0
subprocess32==3.5.4
torch==0.4.0
unity-lens-photos==1.0
